@font-face {
  font-family: 'Avenir Black';
  src: url(/fonts/avenir/Avenir-Black-03.ttf) format("ttf");
}

@font-face {
  font-family: 'Avenir Black Oblique';
  src: url(/fonts/avenir/Avenir-BlackOblique-04.ttf) format("ttf");
}

@font-face {
  font-family: 'Avenir Book';
  src: url(/fonts/avenir/Avenir-Book-01.ttf) format("ttf");
}

@font-face {
  font-family: 'Avenir Book Oblique';
  src: url(/fonts/avenir/Avenir-BookOblique-02.ttf) format("ttf");
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url(/fonts/avenir/Avenir-Heavy-05.ttf) format("ttf");
}

@font-face {
  font-family: 'Avenir Heavy Oblique';
  src: url(/fonts/avenir/Avenir-HeavyOblique-06.ttf) format("ttf");
}

@font-face {
  font-family: 'Avenir Light';
  src: url(/fonts/avenir/Avenir-Light-07.ttf) format("ttf");
}

@font-face {
  font-family: 'Avenir Light Oblique';
  src: url(/fonts/avenir/Avenir-LightOblique-08.ttf) format("ttf");
}

@font-face {
  font-family: 'Avenir Medium';
  src: url(/fonts/avenir/Avenir-Medium-09.ttf) format("ttf");
}

@font-face {
  font-family: 'Avenir Medium Oblique';
  src: url(/fonts/avenir/Avenir-MediumOblique-10.ttf) format("ttf");
}

@font-face {
  font-family: 'Avenir Oblique';
  src: url(/fonts/avenir/Avenir-Oblique-11.ttf) format("ttf");
}

@font-face {
  font-family: 'Avenir Roman';
  src: url(/fonts/avenir/Avenir-Roman-12.ttf) format("ttf");
}
