@import '../../sass/variables.scss';

.contactText {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-top: 15px;
  margin-bottom: 100px;
  @media all and (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }

  .row {
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: right;
    }

    p {
      font-size: 1em;
      color: black;
      font-weight: bold;
      font-family: 'Avenir Heavy';
    }

    a {
      color: black;
      text-decoration: none;
    }
  }
}
