@import "../../sass/variables.scss";

.content-slider {
  position: relative;
  margin: 30px 0;

  .slick-slide {
    background: red;
  }

  img {
    width: 100%;
  }

  &.none {
    margin: 0;
  }

  &.top {
    margin: 30px 0 0 0;
  }

  &.both {
    margin: 30px 0 30px 0;
  }

  @media all and (min-width: $tablet) {
    margin: 50px 0;

    &.none {
      margin: 0;
    }

    &.top {
      margin: 50px 0 0 0;
    }

    &.both {
      margin: 50px 0 50px 0;
    }
  }
}

.height-contain-large {
  max-height: 644px;
}

.custom-arrow-next {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.custom-arrow-prev {
  position: absolute;
  right: 50px;
  bottom: 10px;
  z-index: 10;
}
